.title-xl {
   font-family: $display-font;
   font-size: 6rem;
   letter-spacing: -.1875rem;
   line-height: 1;
}

.title-l {
   font-family: $display-font;
   font-size: 4rem;
   letter-spacing: -.1875rem;
   line-height: 1;
}

.title {
   font-family: $display-font;
   font-size: 2rem;
   letter-spacing: -.0625rem;
   line-height: 1;
}